.cabeza{
	width: 100%;
	height: 150px;
	background-color: #38F3FF;
}
.content{
	width: 100%;
	height: 150px;
	background-color: blue;
	float: left;
}
.div{
	width: 100%;
	height: 150px;
	background-color: orange;
}